<template name="appChat">
	<div class="row">
		<div class="col-sm-4">
			<form class="form-inline">
				<input type="text" class="form-control txtName" placeholder="Name"/>
				<input type="text" class="form-control txtAddress" placeholder="Address"/>
				<input type="text" class="form-control txtStatus" placeholder="Status"/>
				<input type="text" class="form-control txtGender" placeholder="Gender"/>
				<!--<input type="date" class="form-control txtBD" placeholder="Birthday"/><br><br>-->
		
			</form>
		</div>
		<div class="col-sm-4">
			{{#each messages}}
				<div class="alert alert-info">
						{{name}} <br>
						{{address}}<br>
						{{status}}<br>
						{{gender}}<br>
						{{bday}} <br>
					
				</div>
			{{/each}}
		</div>
	</div>
	
</template>